.full-width {
  width: 100%;
}

.item-description {
  color: #777;
}

.container {
  height: calc(100vh - 64px);
}

.sidebar {
  width: 300px;
}

.menu-item {
  &:hover {
    .item-description {

        color: purple;

    }
  }
}
